{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="pb-0 pb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="../blog">Blog</a>
                            </li>
                            <li class="breadcrumb-item">
                                <strong>{{ post.title }}</strong>
                            </li>
                        </ol>
                    </nav>
                    <p class="breadcrumb-item"> Category:&nbsp <a href="#">
                       {{ post.category }}</strong></a></p>
                </div>

                <h1>{{ post.title }}</h1>

                <div class="d-flex align-items-center">
                    <a href="#">
                        <img src="{% static 'img/avatars/male-1.jpg' %}" alt="Avatar" class="avatar mr-2">
                    </a>
                    <div>
                        <div>by <a href="#">{{ post.author }}</a>

                        </div>
                        <div class="text-small text-muted">Published: <strong>
                            {{ post.published_date|date:'M d, Y' }}</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="p-0" data-reading-position>
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 col-xl-8">
                <img src="{{ post.header_image.url }}" alt="Image" class="rounded">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <article class="article">

                    <p class="lead"><strong>{{ post.intro|safe }}</strong></p>

                    {{ post.post_content|safe }}
                </article>
            </div>
        </div>
    </div>
</section>


{% include 'includes/sign-up-call-to-action.html' %}

{% endblock %}
